/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(127, 132, 255);
    font-family: Arial;
    font-weight: bolder;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bolder;
    padding-bottom: 0px;
    padding-left: 1.5%
}

h2 {
    position: relative;
    bottom: 20px;
    padding-left: 1.5%
}

hr {
    position: relative;
    bottom: 4px;
}

.weather-right {
    /* float: right;
    width: 25%;
    top: -200px;
    padding-top: 1.45%;
    display: flex; */
} */